$primary-color: #FFDA18;
$break: 800px;
$custom-easing1: cubic-bezier(0.450, 0.045, 0.300, 0.980);

@import 'partials/_header.scss';
@import 'partials/_posts.scss';
@import 'partials/_featured-posts.scss';
@import 'partials/_video-slider.scss';
@import 'partials/_single-post.scss';



body,
html {
   margin: 0;
   padding: 0;
}

body {
   background-color: #0B1126;
}

:root {

}

a {
   text-decoration: none;
   color: inherit;
}

.wrapper {
   color: #eee;
}
