.post-single {

   .post-main {
      position: relative;
      padding: 0 16px;

      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;

      @media (min-width: $break) {
         padding: 0 32px;
      }
   }


   .featured-image {
      display: block;
      width: 100%;


      position: relative;
      overflow: hidden;

      background-color: hsla(227, 55%, 4%, 1);

      @media (min-width: $break) {
         height: 55vh;

         img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            
            animation: fade-in-1 500ms $custom-easing1 0s 1;
         }
      }

      img {
         width: 100%;
         height: auto;
      }


      &:after {
         content: "";
         position: absolute;
         z-index: 1;
         top: 0;
         left: 0;
         background: linear-gradient(rgba(11, 17, 38, 0), rgba(11, 17, 38, 0.1), rgba(11, 17, 38, 1));
         transition: all 750ms $custom-easing1;
         height: 100%;
         width: 100%;
      }
   }

   .post-header {
      position: relative;
      z-index: 3;


      margin-top: -100px;
      margin-bottom: 75px;

      @media (min-width: $break) {
         font-size: 1.25rem;
      }

      .title {
         font-size: 2.75em;
         margin-top: 10px;

         font-weight: 600;
         text-shadow: 0 0px 0px rgba(0,0,0,0);
         //transition: all 750ms $custom-easing1;
      }

      .post-signature {
         font-family: 'Montserrat', sans-serif;
         font-size: 0.8em;
         font-weight: 300;
         color: #596280;

         margin-top: 15px;

         display: flex;
         width: 100%;
         justify-content: space-between;
         flex-wrap: wrap;

         p {
            display: inline-block;
            margin: 0 10px;
         }
      }
   }

   .post-content {
      margin: 10px auto;
      max-width: 1000px;

      font-family: 'Montserrat', sans-serif;
      font-weight: 300;

      font-size: 1.3rem;
      line-height: 1.55em;

      a {
         color: #FFDA18;
         transition: all 120ms ease;

         &:hover {
            color: #f0ba31;
            //background-color: rgba(222, 190, 136, 0.3);
         }
      }
   }


}
